# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Application Uploads & Temp files
uploads/*
!uploads/.gitkeep
temp/*
!temp/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
